header {
    position: relative;
}

.contact {
    height: 100vh;
    background-color: var(--brown);
    display: flex;
    align-items: center;
}

.contact-bar {
    background-color: #000;
    width: 90%;
    height: 80%;
    margin: auto;
    color: var(--beige);
    text-align: center;
}

.contact-bar h1 {
    font-size: 3rem;
    margin: 15px;
}

iframe {
    margin-top: 25px;
    width: 100%;
    height: calc(100% - 185px); 
}

@media (max-width: 768px) {
    .contact-bar {
        width: 100%;
        height: 100%;
    } 
}
